/* 全体 */
body {
    font-family: 'Hiragino Sans', 'Noto Sans JP', sans-serif;
    margin: 0;
    background: #f3f3f3;
    color: #333;
}

.title {
    font-size: 80px;
    text-align: center;
}
.subtitle {
    font-size: 40px;
    text-align: center;

}
.box {
    border: 2px solid #000;
    padding: 8px 15px;
    display: inline-block;
    margin-top: 10px;

    text-align: left;
    margin-left: 0;      /* ★ 左に寄せる */
}





/* ヘッダー */
header {
    background: #2d2f7f;
    color: white;
    padding: 20px;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

header nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header nav a:hover {
    text-decoration: underline;
}

/* アニメ一覧 */
.anime-list {
    padding: 40px 20px;
    max-width: 1200px;
    margin: auto;
    
}

.anime-list h2 {
    text-align: center;
    margin-bottom: 30px;
}

/* カード共通デザイン */
.anime-list > div {
    background: white;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    padding: 15px;
    text-align: center;
}

/* カード画像 */
.anime-list img {
    width: 100%;
    border-radius: 8px;
}

/* グリッド配置 */
.anime-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
}

/* About */
.about {
    background: #fff;
    padding: 40px 20px;
    text-align: center;
}

/* フッター */
footer {
    text-align: center;
    padding: 20px;
    background: #2d2f7f;
    color: white;
    margin-top: 40px;
}
